:root {
	--sm: 576px;
	--md: 768px;
	--lg: 992px;
	--xl: 1200px;
	--xxl: 1400px;
	--red-dark: #9c0000;
}

.bg-red-dark {
	background: var(--red-dark);
}
.bg-white-t-a {
	transition: all .3s ease;
	background: #ffffff75;
}